<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    
    <!-- Required meta tags -->
    <meta charset="utf-">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://kit.fontawesome.com/8643716bca.js" crossorigin="anonymous"></script>  <!-- makis added script for fontawesome to function properly -->

    <title>{% block title %}Diverville{% endblock %}</title>
    {% endblock %}
  </head>
<body>
 {% block body %}
    <head>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">   
      <div class="container-fluid">
            
            

   <a class="navbar-brand" href="#"><h3>Diverville</h3></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav ml-auto">
       <li class="{{ home }}">
         <a class="nav-link" href="../app/index.php">Home <span class="sr-only">(current)</span></a>
       </li>
       <li class="{{ services }}">
         <a class="nav-link" href="../app/services.php">Services</a>
       </li>
       
       <li class="{{ aboutus }}">
         <a class="nav-link" href="../app/aboutus.php">About Us</a>
       </li>
       <li class="{{ contactus }}" id="contactus">
         <a class="nav-link" href="../app/contactus.php">Contact Us</a>
       </li>
 
      <li class="{{ login }}" id="login">
         <a class="nav-link" href="../app/login.php">Login</a>
       </li>
     </ul>
   </div>
 
        </div>
      </nav>
    </head>
   

   
   

   	
   	
   
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>