{% extends "base.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="../views/css/contact.css">

{% endblock %}

{% block body %}
{{ parent() }}

<div class="wrapper">
	<div class="contact-form">
		<div class="title"> Contact Form</div>

		<div class="input-fields">
			<div class="items">
				<label for="name" class="label">name</label>
				<input id="name" type="text" class="input">
			</div>
			<div class="items">
				<label for="email" class="label">email</label>
				<input id="email" type="text" class="input">
			</div>
			<div class="items">
				<label for="radio" class="label">Sender Type:</label>
				<input type="radio" name="type" value="diver"> Diver
				<input type="radio" name="type" value="diveCenter"> Dive Center
				<input type="radio" name="type" value="both"> Both
				<input type="radio" name="type" value="other"> Other
			</div>
			<div class="items">
				<label for="subject" class="label">subject</label>
				<div class="row">
					<div class="col-6">
						<input type="checkbox" name="subject1" value="Account Issues"> Account
					</div>
					<div class="col-6">
						<input type="checkbox" name="subject2" value="Event Issue"> Event
					</div>
				</div>
				<div class="row">
					<div class="col-6">
						<input type="checkbox" name="subject1" value="Account Issues"> Copyrights
					</div>
					<div class="col-6">
						<input type="checkbox" name="subject1" value="Account Issues"> Other
					</div>
				</div>
			</div>
			<div class="items">
				<label for="msg" class="label">message</label>
				<textarea id="msg" class="text-area"></textarea>
			</div>
		</div>

		<div class="button1">send</div>
	</div>
</div>

{% endblock %}