{% extends "base.html" %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="../views/css/dive_event.css">

{% endblock %}

{% block body %}
{{ parent() }}

<div class="row">
    <section class="diveEventHead col-5">
        <div class="container">
            <h1>Dive event : {{ event_name }} </h1>
            <h2>Date : {{ date }} </h2>
            <br>
            <h2>Organized by: {{ diveCenterName }} </h2>
        </div>
    </section>
    <section class="diveEventHead col-7">
        <div class="container">
            <h1>Fun Dive at: {{ spotName }}</h1>
            <br>
            <h2>Depth : {{ depth }} meters</h2>
            <h2>Type: {{ type }} </h2>
        </div>
    </section>
</div>
</br>
</br>
<div class="row">
    <section class="diveEventParticipants col-5">
        <div class="container">
            <div class="card">
                <div class="card-header">Participants {{ participants }}/{{ maxdivers }}</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in divers %}
                        <li class="list-group-item">{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form method="POST" action="book_event.php" enctype="multipart/form-data">
                    <input type="hidden" name="event_id" value="{{ id }}">
                    <input type="hidden" name="participants"  value="{{ participants }}">
                    <input type="hidden" name="maxdivers"  value="{{ maxdivers }}">
                    <div class="card-footer"><button type="submit">Book now!</button></div>
                </form>
                
            </div>
        </div>
    </section>
    <section class="col-7 diveEventPhoto">
        <!--<h3>Photos of dive spot</h3> -->
        <!-- Container for the image gallery -->
        <div class="container">

            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="../images/dive1.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="../images/dive2.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="../images/dive3.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="../images/dive4.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="../images/dive6.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="../images/dive7.jpg">
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images -->
            <div class="row">
                <div class="column">
                    <img class="cursor" src="../images/dive1.jpg" onclick="currentSlide(1)" alt="The Woods">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive2.jpg" onclick="currentSlide(2)" alt="Cinque Terre">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive3.jpg" onclick="currentSlide(3)" alt="Mountains and fjords">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive4.jpg" onclick="currentSlide(4)" alt="Northern Lights">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive6.jpg" onclick="currentSlide(5)" alt="Nature and sunrise">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive7.jpg" onclick="currentSlide(6)" alt="Snowy Mountains">
                </div>
            </div>
        </div>
    </section>
</div>
<script src="../views/dive_event.js"></script>
{% endblock %}