{% extends "base.html" %}

{% block head %}
{{ parent() }}
<meta name="viewport" content="initial-scale=1.0,
width=device-width" />


<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
<script type="text/javascript" src='../js-examples-rendering-helpers/iframe-height.js'></script>
<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />  
<link rel="stylesheet" href="../views/css/dive_spot.css">

{% endblock %}

{% block body %}
{{ parent() }}

    <section class="divespotHead">
        <div id="index-header">
          Dive spot : {{ spot_name }}
        </div>
        <h2>Depth : {{ depth }} meters</h2>
        <br>
        <h2>Type: {{ type }}</h2>
    </section>
    <section>
        <div style="width: 700px; height: 450px" id="map"></div>
        <script type="text/javascript"> 
            var spotLat = parseFloat("{{ lat }}");
            var spotLng = parseFloat("{{ lng }}");
        </script> 
    </section>
    <section class="col-8 diveEventPhoto">
        <!--<h3>Photos of dive spot</h3> -->
        <!-- Container for the image gallery -->
        <div class="container">
    
            <!-- Full-width images with number text -->
            <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="../images/dive1.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="../images/dive2.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="../images/dive3.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="../images/dive4.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="../images/dive6.jpg">
            </div>
            <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="../images/dive7.jpg">
            </div>
    
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
            <!-- Thumbnail images -->
            <div class="row">
                <div class="column">
                    <img class="cursor" src="../images/dive1.jpg"  onclick="currentSlide(1)"
                        alt="The Woods">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive2.jpg" onclick="currentSlide(2)"
                        alt="Cinque Terre">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive3.jpg" onclick="currentSlide(3)"
                        alt="Mountains and fjords">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive4.jpg" onclick="currentSlide(4)"
                        alt="Northern Lights">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive6.jpg" onclick="currentSlide(5)"
                        alt="Nature and sunrise">
                </div>
                <div class="column">
                    <img class="cursor" src="../images/dive7.jpg" onclick="currentSlide(6)"
                        alt="Snowy Mountains">
                </div>
            </div>
        </div>
        {% if user is defined %}
        <form method="POST" action="upload_spot_image.php" enctype="multipart/form-data">
            <input type="hidden" name="max_size" value="3145728">
            <input type="hidden" name="spot_id" value="{{ id }}">
            <input type="hidden" name="spot_name" value="{{ spot_name }}">
            <input type="hidden" name="depth" value="{{ depth }}">
            <input type="hidden" name="spot_type" value="{{ type }}">
            <input type="hidden" name="posLat" value="{{ lat }}">
            <input type="hidden" name="posLng" value="{{ lng }}">
            <div>
                <input type="file" name="image" required>
            </div>
            <div>
                <button type="submit" name="upload">Upload</button>
            </div>
        </form>
        <br>
        <div id="error" style="{{ style }}"> {{ error_message }} </div>
        {% endif %}
    </section>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- The map.js uses the spotLat, spotLng values assigned above to generate the map-->
    <script type="text/javascript" src='../views/map.js'></script>
   
{% endblock %}