{% extends "base.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="../views/css/index.css">


{% endblock %}
   
{% block body %}
{{ parent() }}
<section class="myIndexHead">
  <div id="index-header">
    Find your next adventure
  </div>
  <h3>Search scheduled dive trips!</h3>
</section>

<div id="background-carousel">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ul class="carousel-indicators">
      <li href="#myCarousel" data-slide-to="0" class="active"></li>
      <li href="#myCarousel" data-slide-to="1"></li>
      <li href="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="../images/dive1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="../images/dive2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" >
        <img src="../images/dive3.jpg" class="d-block w-100" alt="...">
      </div>  
    </div>
  </div>
</div>
<section class="search-sec">
  <div class="container">
      <form action="#" method="post" novalidate="novalidate">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" class="form-control search-slt" placeholder="Enter Dive Spot">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" class="form-control search-slt" placeholder="Enter Dive Center">
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                        <input type="text" class="search-date" placeholder="Search by Date (From)" onfocus="(this.type='date')" onblur="(this.type='text')" >
                        <input type="text" class="search-date" placeholder="Search by Date (To)" onfocus="(this.type='date')" onblur="(this.type='text')" >
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <button type="button" class="btn btn-danger wrn-btn">Search</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</section>



{% endblock %}