{% extends "base.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="../views/css/index.css">
<link rel="stylesheet" href="../views/css/caleandar.css">


{% endblock %}

{% block body %}
{{ parent() }}

<div id="background-carousel">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ul class="carousel-indicators">
      <li href="#myCarousel" data-slide-to="0" class="active"></li>
      <li href="#myCarousel" data-slide-to="1"></li>
      <li href="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="../images/dive1.jpg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/dive2.jpg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/dive3.jpg" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="myIndexHead">
    <div id="index-header">
      Find your next adventure
    </div>
    <h3>Search scheduled dive trips!</h3>
  </section>
  </br>
  <section class="search-sec">
    <div class="container">
      <form action="../app/dive_spot.php" method="POST" novalidate="novalidate">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <input type="text" class="form-control search-slt" placeholder="Enter Dive Spot" name='name'>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                <button type="submit" class="btn btn-secondary wrn-btn">Search</button>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  </br>
  <div class="row">
  <div class="col-md-12 col-lg-8 col-xl-8 col-sm-12 col-12">
  <section class="dive-spots">
    <div class="container">
      <div class="card dive-spot">
        <div class="row">
          <div class="col-6">
            <img src="../spotimages/{{ img1 }}" alt="Spot 1" style="width:100%">
          </div>
          <div class="col-6">
            <div class="card-body">
              <h4 class="card-title"><a href="#" onclick="location.href='../app/dive_spot.php?name={{ name1 }}'">{{ name1 }}</a></h4>
              <p class="card-text">{{ depth1 }} meters</p>
              <p class="card-text">{{ type1 }} </p>
            </div>
          </div>
        </div>
      </div>
      </br>
      <div class="card dive-spot">
        <div class="row">
          <div class="col-6">
            <img src="../spotimages/{{ img2 }}" alt="Spot 2" style="width:100%">
          </div>
          <div class="col-6">
            <div class="card-body">
              <h4 class="card-title"><a href="#" onclick="location.href='../app/dive_spot.php?name={{ name2 }}'">{{ name2 }}</a></h4>
              <p class="card-text">{{ depth2 }} meters</p>
              <p class="card-text">{{ type2 }} </p>
            </div>
          </div>
        </div>
      </div>
      </br>
      <div class="card dive-spot">
        <div class="row">
          <div class="col-6">
            <img src="../spotimages/{{ img3 }}" alt="Spot 3" style="width:100%">
          </div>
          <div class="col-6">
            <div class="card-body">
              <h4 class="card-title"><a href="#" onclick="location.href='../app/dive_spot.php?name={{ name3 }}'">{{ name3 }}</a></h4>
              <p class="card-text">{{ depth3 }} meters</p>
              <p class="card-text">{{ type3 }} </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  </div>
  <section class="events-calendar col-md-12 col-lg-4 col-xl-4 col-sm-12 col-12">
    <div id="caleandar">

    </div>
  </section>
  </div>
</div>

<script src="../views/caleandar.js"></script>
<script> 
var events = [];
</script>
{% for item in event_calendar %}
<!--
item[0] is a string with year of event
item[1] is a string with month of event
item[2] is a string with day of event
item[3] is a string with name of event
-->
<script>
  //https://www.cssscript.com/create-simple-event-calendar-javascript-caleandar-js/
    events.push({ 'Date': new Date('{{ item[0] }}', '{{ item[1] }}', '{{ item[2] }}'), 'Title': '{{ item[3] }}', 'Link': '../app/dive_event.php?id={{ item[4] }}' });
</script>
{% endfor %}
<script>
  var settings = {};
  var element = document.getElementById('caleandar');
  caleandar(element, events, settings);
</script>

{% if error_message is defined %}
<script>
  alert('{{ error_message }}');
</script>
{% endif %}


{% endblock %}
  
{% block scripts %}
  {{ parent() }}
{% endblock %}

