{% extends "base.html" %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="../views/css/login.css">

{% endblock %}

{% block body %}
{{ parent() }}


    <div class="container" id="signinbox">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1>Sign In</h1>
          <div id="error" style="{{ style }}"> {{ error_message }} </div>
          <br>
          <form action="loginprocess.php" method="POST" >
            <div class="form-group">
              <label>Username</label>
              <input type="text"class="form-control"name="username" id="name" placeholder="Username" required>
              <div class="invalid-feedback">
                Username must be between 2 and 10 characters
              </div>
            </div>
            <br>
            <div class="form-group">
                <label>Password</label>
                <input type="text"class="form-control"name="password" id="pass" placeholder="Password" required>
                <div class="invalid-feedback">
                  Enter a valid password. 5-10 characters [lowercase, uppercase, number]
                </div>
              </div>
              <!--
              <div class="form-group">
                  <label>Email</label>
                  <input type="text"class="form-control"id="email" placeholder="Email">
                  <div class="invalid-feedback">
                    Enter a valid Email
                  </div>
                </div>
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="text"class="form-control"id="phone" placeholder="Phone Number">
                    <div class="invalid-feedback">
                      Enter a valid Phone
                    </div>
                  </div>
                -->
                  Don't have an accout? 
                  <a href="../app/signup.php">  Sign up!</a>
    
                  <br>
                  <br>
                  <input type="submit"value="Sign In" class="btn btn-primary btn-block" onclick="diverror()">
          </form>
        </div>
      </div>
    </div>


   <!--
    <div class="container mt-5">
        <div class="footer ">
          <div class="row">
            <div class="col-md-6">
             <p>@ 2019 All Rights Reserved.<br/>
              Designed by <span style="color: black">Athens Tech</span></p>
            </div>
            
            <div class="col-md-6">
              <div class="text-right" style="color: orangered; font-size: 35px">
                <p> <i class="fa fa-facebook-square"></i>
                                 <i class="fa fa-twitter"></i> <i class="fa fa-linkedin"></i> </p>
              </div>
            </div>
          </div>
        </div>
      </div>               
    -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="../views/formvalidation.js"></script>
    {% endblock %}