body {background-image: url('../login.jpg')}
a:link {color: lightseagreen}

#signinbox{
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    width: 700px;
    margin-top: 100px;
    color: white;
    background-color: rgb(25, 23, 58, 0.3);   
}