body {
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/10/10/underwater--wallpaper.jpg');
    color: white;
}

.table {
  margin: 1em;
}


h1 {
    text-align: center;
}